# Fly.io configuration
fly.toml

# Python virtual environment
.venv/

# Environment variables
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django database
db.sqlite3

# JetBrains IDE project files
.idea/

# GitHub Actions configuration
.github/

.gitignore

LICENSE
README.md
